.container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  width: 100vw;
  height: 100vh;
}
.container > div {
  border: 5px solid black;
  box-sizing: border-box;
}
.mainPageContainer {
  height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 715px) {
  .container {
    display: block;
  }
  .imageContainer {
    display: none;
  }
}