.container{
display: grid;
grid-template-columns: 4fr 2fr;
width: 100vw;
height: 100vh;
}
.container > div{
  border: 5px solid black;
  box-sizing: border-box;
}
.mainPageContainer{
  height: 100vh;
}

@media (max-width: 715px) {
  html{
    font-size:12px;
  }
  .container{
    display: block;
    }
  .imageContainer{
    display: none;
  }
}
@media (max-width: 350px) {
  html{
    font-size:10px;
  }
}